**/*.pyc
**/*.swo
**/*.swp
**/.DS_Store
**/.snakemake
**/__pycache__
data/**/G
data/**/GeneOrders.txt
data/**/GenomeParameters.tsv
data/**/T
data/**/*.ilp
experiments/**/*.log
experiments/simulation/deco/
experiments/simulation/ilp/
experiments/simulation/logs/
experiments/simulation/plots/
experiments/simulation/results/
experiments/simulation/simulated_evolution/
experiments/simulation/trees/
experiments/telomere_speed/ilp/
experiments/telomere_speed/logs/
experiments/telomere_speed/results/
experiments/telomere_speed/simulated_evolution/
experiments/telomere_speed/benchmarks/
manuscripts/**/*.aux
manuscripts/**/*.log
tools/**/*.a
tools/**/*.cmake
tools/**/*.in
tools/**/*.o
tools/**/*.so
tools/**/*.so.*
tools/**/CMakeCache.txt
tools/**/CMakeFiles
tools/**/bin
tools/**/include
tools/**/lib
tools/**/test
zombi_deco_pipeline/
